@font-face {
  font-family: Trueno Bd;
  src: url("../fonts/TruenoBd.otf") format("opentype");
}

@font-face {
  font-family: Trueno Lt;
  src: url("../fonts/TruenoLt.otf") format("opentype");
}

@font-face {
  font-family: Trueno Ult;
  src: url("../fonts/TruenoUltLt.otf") format("opentype");
}

.header {
  background-color: #472424;
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 66px;
}

.header-nav__logo {
  margin-right: 10px;
}

.header-nav__price {
  margin-right: 30px;
}

.header-nav__basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__basket:hover {
  cursor: pointer;
}

.header-nav__link {
  margin-right: 40px;
  text-decoration: none;
  font-family: Trueno Lt;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
}

.header-nav__link:hover {
  color: yellow;
}

.header-nav__link:last-child {
  margin-right: 0px;
}

.header-nav__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
}

.header-nav__login {
  padding: 20px;
  color: #ffffff;
  font-family: "Trueno Lt";
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
  -webkit-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.1);
          box-shadow: -1px 0 0 rgba(255, 255, 255, 0.1);
}

.header-nav__login:hover {
  background-color: #ff7373;
  cursor: pointer;
}

.header-nav__register {
  padding: 20px;
  color: #ffffff;
  font-family: "Trueno Lt";
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
  -webkit-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.1);
          box-shadow: -1px 0 0 rgba(255, 255, 255, 0.1);
}

.header-nav__register:hover {
  background-color: #ff7373;
  cursor: pointer;
}

.header-burger {
  display: none;
  position: relative;
  z-index: 9;
  width: 50px;
  height: 50px;
}

.head-burger {
  display: block;
  height: 8px;
  width: 30px;
  position: absolute;
  margin-left: -15px;
  left: 50%;
  top: 50%;
  background-color: black;
  border-radius: 0.3rem;
}

.head-burger:before {
  content: '';
  display: block;
  height: 8px;
  width: 30px;
  position: absolute;
  margin-left: -15px;
  left: 50%;
  margin-top: -14px;
  border-radius: 0.3rem;
  background-color: black;
}

.head-burger:after {
  content: '';
  display: block;
  height: 8px;
  width: 30px;
  position: absolute;
  left: 50%;
  margin-left: -15px;
  top: 50%;
  margin-top: 10px;
  border-radius: 0.3rem;
  background-color: black;
}

.dollar {
  color: #ffffff;
  font-family: "Trueno Lt";
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
}

.price {
  margin-right: 5px;
  color: #ffffff;
  font-family: "Trueno Lt";
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
}

.counter {
  margin-right: 4px;
  font-family: "Trueno Lt";
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
  color: #dcc5b8;
}

.items {
  font-family: "Trueno Lt";
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
  color: #dcc5b8;
}

@media (max-width: 768px) {
  .header-burger {
    display: block;
    margin-right: 20px;
    margin-bottom: 8px;
  }
  .header-burger:hover {
    cursor: pointer;
  }
  .header-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-nav__left {
    display: none;
  }
  .header-nav__btn {
    display: none;
  }
  .header-nav__price {
    margin-right: 0px;
  }
}

.container {
  width: 1110px;
  margin: auto;
}

@media (max-width: 1110px) {
  .container {
    width: 990px;
  }
}

@media (max-width: 990px) {
  .container {
    width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 425px;
  }
}

@media (max-width: 425px) {
  .container {
    width: 310px;
  }
}

.subheader {
  background-color: #623232;
}

.subheader-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subheader-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subheader-left {
  margin-top: 30px;
  margin-bottom: 37px;
}

.subheader-link {
  padding-top: 30px;
  padding-bottom: 34px;
  padding-right: 15px;
  padding-left: 15px;
  color: #ffffff;
  font-family: "Trueno Lt";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.subheader-link:hover {
  cursor: pointer;
  color: #ff7373;
  border-bottom: 4px solid #ff7373;
}

.subheader-burger {
  display: none;
  position: relative;
  z-index: 9;
  width: 50px;
  height: 50px;
}

.subhead-burger {
  display: block;
  height: 8px;
  width: 50px;
  position: absolute;
  margin-left: -15px;
  left: 30%;
  top: 50%;
  background-color: white;
  border-radius: 0.3rem;
}

.subhead-burger:before {
  content: '';
  display: block;
  height: 8px;
  width: 50px;
  position: absolute;
  margin-left: -25px;
  left: 50%;
  margin-top: -14px;
  border-radius: 0.3rem;
  background-color: white;
}

.subhead-burger:after {
  content: '';
  display: block;
  height: 8px;
  width: 50px;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  top: 50%;
  margin-top: 10px;
  border-radius: 0.3rem;
  background-color: white;
}

@media (max-width: 990px) {
  .subheader-burger {
    display: block;
    margin-bottom: 10px;
  }
  .subheader-block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .subheader-link {
    font-size: 14px;
  }
  .subheader-right {
    display: none;
  }
}

@media (max-width: 768px) {
  .subheader-block {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.presentation {
  display: none;
}

.presentation-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.presentation-block__img {
  position: absolute;
  bottom: 17%;
}

.presentation-block__text {
  position: absolute;
  right: 25%;
  top: 33%;
}

.presentation-text__price {
  color: #ff7373;
  font-family: "Trueno Lt";
  font-size: 30px;
  font-weight: 400;
}

.presentation-text__title {
  margin-top: 10px;
  color: #623232;
  font-family: "Trueno Bd";
  font-size: 70px;
  font-weight: 900;
  font-weight: bold;
}

.presentation-text__subtitle {
  margin-top: 10px;
  color: #ff7373;
  font-family: "Trueno Bd";
  font-size: 50px;
  font-weight: 400;
}

.presentation-text__description {
  margin-top: 20px;
  width: 420px;
  color: #ff7373;
  font-family: "Trueno Lt";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.presentation-text__button {
  margin-top: 25px;
  padding: 17px 47px;
  background-color: #ff7373;
  border: none;
  color: #ffffff;
  font-family: "Trueno Bd";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
}

.presentation-text__button:hover {
  cursor: pointer;
}

@media (max-width: 1110px) {
  .presentation-blocks {
    background: url("../img/presentation/cd241c573d94126ea2887de988d9a87a.jpeg") center;
  }
  .presentation-block__img {
    display: none;
  }
  .presentation-block__text {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    text-align: center;
    right: 0;
    top: 0;
    position: relative;
  }
  .presentation-text__description {
    margin: auto;
  }
  .presentation-text__title {
    color: orange;
  }
}

@media (max-width: 768px) {
  .presentation-blocks {
    background: url("../img/presentation/background-2.jpg") center;
    background-size: cover;
  }
}

@media (max-width: 425px) {
  .presentation-text__description {
    width: 300px;
  }
}

.trend-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.trend-block__sneakers {
  margin-top: 50px;
  background: url("../img/trend/cross-1.png") no-repeat;
  width: 540px;
}

.trend-block__sneakers:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 1s;
  transition: 1s;
}

.trend-block__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

.trend-block__logo {
  margin-left: 10px;
}

.trend-block__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-left: 68px;
}

.trend-block__text {
  color: #ffffff;
  font-family: "Trueno Lt";
  font-size: 30px;
  font-weight: 400;
}

.trend-block__title {
  font-size: 30px;
  font-weight: 400;
  color: #4bd8cd;
  font-family: "Trueno Bd";
}

.trend-block__btn {
  margin-top: 339px;
  margin-left: 165px;
  margin-bottom: 35px;
  border: none;
  padding: 17px 30px;
  background-color: #4bd8cd;
  color: #000000;
  font-family: "Trueno Bd";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
}

.trend-block__btn:hover {
  cursor: pointer;
}

.trend-block__right {
  margin-left: 30px;
}

.trend-block__head {
  margin-top: 50px;
  width: 540px;
  height: 255px;
  background-color: #ff7373;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.trend-block__head:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 1s;
  transition: 1s;
}

.trend-discover__block {
  margin-top: 50px;
  margin-left: 20px;
  text-align: center;
}

.trend-discover__img {
  margin-top: -20px;
}

.trend-discover__text {
  color: #ffffff;
  font-family: "Trueno Lt";
  font-size: 30px;
  font-weight: 400;
}

.trend-discover__title {
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  font-family: "Trueno Bd";
}

.trend-discover__btn {
  margin-top: 30px;
  padding: 17px 30px;
  color: #ffffff;
  font-family: "Trueno Bd";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  border: none;
  background-color: #623232;
}

.trend-discover__btn:hover {
  cursor: pointer;
}

.trend-block__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.trend-block__athletes {
  width: 255px;
  margin-top: 30px;
  text-align: center;
  background: url("../img/trend/cross-3.png") no-repeat;
}

.trend-block__athletes:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 1s;
  transition: 1s;
}

.trend-athletes__text {
  margin-top: 146px;
  color: #ffffff;
  font-family: "Trueno Lt";
  font-size: 30px;
  font-weight: 400;
}

.trend-athletes__title {
  margin-bottom: 50px;
  color: #ff7373;
  font-family: "Trueno Bd";
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.trend-block__premium {
  background: url("../img/trend/cross-4.png") no-repeat;
  text-align: center;
  margin-left: 30px;
  margin-top: 30px;
  width: 255px;
}

.trend-block__premium:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 1s;
  transition: 1s;
}

.trend-premium__text {
  margin-top: 34px;
  font-family: "Trueno Lt";
  font-size: 30px;
  font-weight: 400;
  color: #6b7072;
}

.trend-premium__title {
  color: #ffffff;
  font-family: "Trueno Bd";
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 162px;
}

@media (max-width: 1110px) {
  .trend-block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .trend-block__sneakers {
    background-size: inherit;
  }
  .trend-block__btn {
    margin-left: 95px;
  }
  .trend-block__header {
    padding-top: 0px;
  }
  .trend-block__logo {
    margin-left: 0px;
  }
  .trend-block__name {
    margin-left: 10px;
  }
}

@media (max-width: 768px) {
  .trend-block__sneakers {
    width: 410px;
  }
  .trend-block__right {
    margin-left: 0px;
    margin-top: 30px;
  }
  .trend-block__head {
    width: 410px;
    margin: auto;
  }
  .trend-discover__text {
    font-size: 20px;
  }
  .trend-discover__title {
    font-size: 20px;
  }
  .trend-discover__btn {
    margin-top: 15px;
  }
  .trend-block__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .trend-block__premium {
    margin-left: 0px;
  }
}

@media (max-width: 425px) {
  .trend-block__sneakers {
    width: 300px;
    margin-top: 20px;
  }
  .trend-block__btn {
    margin-left: 50px;
  }
  .trend-block__text {
    font-size: 20px;
  }
  .trend-block__btn {
    margin-top: 220px;
    background-color: rgba(75, 216, 205, 0.8);
  }
  .trend-block__head {
    width: 300px;
  }
  .trend-discover__img {
    margin-left: -40px;
  }
  .trend-discover__block {
    margin-left: 0px;
  }
  .trend-discover__text {
    margin-left: -70px;
  }
  .trend-discover__title {
    font-size: 18px;
    margin-left: -30px;
  }
  .trend-discover__btn {
    margin-top: 80px;
    margin-left: -20px;
  }
}
/*# sourceMappingURL=style.css.map */