@font-face {
    font-family: Trueno Bd;
    src: url('../fonts/TruenoBd.otf') format('opentype');
}
@font-face {
    font-family: Trueno Lt;
    src: url('../fonts/TruenoLt.otf') format('opentype');
}
@font-face {
    font-family: Trueno Ult;
    src: url('../fonts/TruenoUltLt.otf') format('opentype');
}