.goods
    &-block
        &__text
            padding-left: 29px
            padding-right: 40px
            margin-bottom: 30px
        &__title
            color: #8a8784
            font-family: "Trueno Bd"
            font-size: 16px
            font-weight: 400
            line-height: 26px
        &__descr
            color: #8a8784
            font-family: "Trueno Lt"
            font-size: 16px
            font-weight: 400
            line-height: 26px
        &__id
            color: #bdb9b5
            font-family: "Trueno Lt"
            font-size: 13px

    &-choices
        display: flex
        margin-top: 100px
        justify-content: center
    &-choice
        margin-right: 40px
        color: #bdb9b5
        font-family: "Trueno Lt"
        font-size: 30px
        font-weight: 400
        text-transform: uppercase
        &:last-child
            margin-right: 0px
        &:hover
            cursor: pointer
            color: #623232
            font-family: "Trueno Bd"
        
    &-blocks
        display: flex
        flex-wrap: wrap
    &-sneakers
        position: relative
        width: 255px
        border: 1px solid #e0dfde
        margin-right: 19px
        margin-top: 30px
        &:hover
            cursor: pointer

    &-cost
        position: absolute
        display: flex
        top: 8%
        width: 100%
    &-price
        margin-left: 29px
        position: relative
        &__new
            color: #ff7373
            font-family: "Trueno Lt"
            font-size: 24px
            font-weight: 400
            line-height: 26px
        &__old
            font-family: "Trueno Lt"
            color: #8a8784
            font-size: 16px
            text-decoration: line-through
        &__sale
            position: absolute
            right: 0
            width: 61px
            height: 28px
            text-align: center
            color: #ffffff
            font-family: "Trueno Bd"
            font-size: 16px
            font-weight: 400
            line-height: 26px
            background-color: #ff7373
    &-old
        &__price
            margin-left: 29px
            color: #8a8784
            font-family: "Trueno Lt"
            font-size: 24px
            font-weight: 400
            line-height: 26px
    &-sneaker
        margin: 28px 28px 0px 28px